.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px 15px 0;
    outline: none;
    border: 1px solid #b393d3;
    border-radius: 50px;
    height: 32px;
    letter-spacing: 0.07em;
    line-height: 32px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    text-shadow: 0 0 5px #b393d3, 0 0 10px #b393d3, 0 0 10px #b393d3, 0 0 20px #b393d3;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}
.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
    background-color: #808080;
}
.btn:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #444;
    cursor: not-allowed;
}