body{
    background-color: #444444;
    background-image:url("./assets/darkgrey-asphalt.jpg") ;
}
.app__wrapper{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'header header'
    'nav profile';
    grid-template-rows: 125px 1fr;
    grid-template-columns:2fr 10fr;
    grid-gap: 5px;
}

/*MAIN PAGE ELEMENT*/

.main__wrapper{
    background: rgba(173, 216, 230, 0.7);
    border-radius: 5px;
    grid-area: profile;
    padding-bottom: 10px;
    position: relative;
}

/*HEADER*/
/*NAVBAR*/

.nav__wrapper{
    grid-area: nav;
    background: rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    font-size: 1.5em;
}

.nav__link{
    margin: 10px;
    text-align: center;
}

.nav__link:hover{
    border: 1px dotted lightgray;
    border-radius: 5px;
}

.nav__link a{
    color: black;
    text-decoration: none;
}

.nav__link a.active{
    color: #fdfdfe;
    text-shadow: 0 0 5px #b393d3, 0 0 10px #b393d3, 0 0 10px #b393d3, 0 0 20px #b393d3;
}

/*PROFILE*/

/*POST*/
.posts__wrapper{
    max-width: 95%;
    margin: 0 auto;
}

/*NEWPOST*/

.new__post__wrapper{}
.text__area__wrapper{}
.new__post__btn__wrapper{}
.new__post__btn{}

/*POST*/

.post__item__wrapper {
    max-width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 50px 8fr 1fr;
}

.post__item__wrapper:last-child{
    margin-bottom: 0;
}
.post__avatar{
    background: lightgreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px dotted black
}
.post__text{
    padding-top: 10px;
    padding-left: 10px;
}
.post__setup{}
.post__likes{}

/*DIALOGS*/

/*USERS*/
.user__item__wrapper{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.user__avatar__wrapper{
    margin-bottom: 10px;
}
.user__avatar{}

.user__avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.follow__btn {
    background-color: lightgreen;
}
.unfollow__btn{
    background-color: antiquewhite;
}
.page__selector{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

.page__selector span {
    margin-right: 10px;
    cursor: pointer;
}

.selectedPage {
    text-decoration: underline;
    font-size: 1.2em;
    font-weight: bold;
}

.preloader {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    right: 50%;
    top: 50%;
}